.chat {
  background-color: slategray;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid bisque;
  box-sizing: border-box;
  width: 90%;
  height: 700px;
  overflow: hidden;
  position: relative;
}

.message {
  border: 5px solid whitesmoke;
  position: absolute;
  width: 85%;
  bottom: 10%;
  right: auto;
}

.new-message {
  border: 10px solid rgb(59, 59, 59);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  right: auto;
}

.new-message-input {
  width: 90%;
  background-color: inherit;
  color: antiquewhite;
}