.app {

}

.title {
  grid-area: header;
  background-color: darkslategray;
  color: antiquewhite;
  margin: 30px;
}

.container {
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 300px auto auto;
  grid-template-areas: 
    "leftbar header rightbar"
    "leftbar main rightbar"
    "leftbar footer rightbar";
}

.chat {
  grid-area: main;
  margin-top: 30px;
}

.rightbar {
  grid-area: rightbar;
  background-color: steelblue;
}

.leftbar {
  grid-area: leftbar;
  background-color: steelblue;
}

.user-icon {
  color: lightslategray;
  background-color: palegoldenrod;
  border: 15px solid palegoldenrod;
 }

.message {
  margin: 15px;
}

.message-text {
  text-align: center;
}

#highly-pos {
  background-color: forestgreen;
  color: floralwhite;
}

#pos {
  background-color: lightgreen;
}

#slightly-pos {
  background-color: palegreen;
}

#neutral {
  background-color:darkslategray;
}

#slightly-neg {
  background-color: darkorange;
}

#neg {
  color: antiquewhite;
  background-color: orangered;
}

#highly-neg {
  color: antiquewhite;
  background-color: darkred;
}